* {
	box-sizing: border-box;
	font-family: "MS Sans Serif";
}
:root {
	--main-color: silver;
	--edit-color: #21006f;
}
body {
	background: #008080;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}
.desktop {
	flex: 1 1 auto;
	padding: 1rem;
}
// ICONS
.icons {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
.icon {
	position: relative;
	display: inline-flex;
	margin: 1rem;
	width: 140px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 0.2rem;
	border-radius: 1px;
	border: 1px solid transparent;
	&:hover {
		border: 1px solid rgba(215, 243, 252, 0.2);
		&:after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: var(--edit-color);
			opacity: 0.15;
			cursor: pointer;
		}
	}
	&-body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	img {
		width: 48px;
		height: 48px;
		margin-bottom: 0.5rem;
	}
	span {
		padding: 2px;
	}
	&.selected {
		background: var(--edit-color);
		border: 1px dashed var(--main-color);
		span {
			color: white;
		}
		&:after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: var(--edit-color);
			opacity: 0.25;
		}
	}
}
// TASK BAR
.taskbar {
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 5px;
	box-shadow: inset 0 2px 2px 0 white;
	&__left {
		display: flex;
		align-items: center;
	}
	&__item {
		padding: 2px 6px 3px;
		height: 30px;
		margin-right: 8px;
		img {
			width: 16px;
			height: 16px;
			margin-right: 4px;
		}
	}
	&__tasks {
		display: flex;
		align-items: center;
		& .taskbar__item {
			min-width: 120px;
		}
	}
}
.start {
	width: 70px;
}
.time {
	padding-left: 5px;
	height: 28px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-left: 1px solid #949494;
	font-weight: 600;
}
// APPS
.apps {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(3000px, 0) scale(0);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 75%;
	height: 75%;
	pointer-events: none;
	&.active {
		transform: translate(-50%, -50%) scale(1);
	}
}
.app-window {
	display: none;
	pointer-events: all;
	&.active {
		display: block;
	}
}
.internet-explorer-window {
	width: 100%;
	height: 100%;
}
.apps .window {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
// TECHNIC STYLES CLASSES
.window {
	background-color: var(--main-color);
	border-top: 1px solid #f4f4f4;
	border-bottom: 1px solid #4e4e4e;
}
.uncopied-text {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--main-color);
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	box-shadow: inset 1px 1px #dfdfdf, 1px 0 #000, 0 1px #000, 1px 1px #000;
	&:hover {
		cursor: pointer;
		background-color: darken(silver, 10);
	}
	&:active {
		box-shadow: inset 1px 1px #000, 1px 0 #dfdfdf, 0 1px #dfdfdf, 1px 1px #dfdfdf;
	}
}
.context-menu {
	display: none;
	position: absolute;
	top: calc(100% - 1rem);
	left: 75%;
	min-width: 150px;
	list-style: none;
	flex-direction: column;
	padding: 3px;
	z-index: 10;
	li {
		padding: 3px;
		text-align: left;
		&:first-child {
			font-weight: 700;
		}
		&:hover {
			background-color: var(--edit-color);
			color: white;
		}
	}
	&.open {
		display: flex;
	}
}
.window-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	color: white;
	font-weight: 700;
	background: rgb(35, 0, 118);
	background: linear-gradient(90deg, #230076 0%, #4b88b7 100%);
	border-left: 1px solid #9a9a9a;
	border-right: 1px solid #9a9a9a;
	img {
		max-width: 16px;
		height: 16px;
		margin-right: 8px;
	}
}
.window-title {
	display: flex;
	align-items: center;
	justify-content: center;
}
.window-btns {
	display: flex;
	align-items: center;
	justify-content: center;
	.btn {
		width: 24px;
		height: 24px;
		font-weight: 900;
		color: black;
		padding: 4px;
		font-size: 15px;
		margin-right: 4px;
	}
}
@import "fifteen";

.window.current {
	z-index: 100;
}
.taskbar__item.current {
	background-color: rgb(226, 226, 226);
	box-shadow: inset 1px 1px #000, 1px 0 #dfdfdf, 0 1px #dfdfdf, 1px 1px #dfdfdf;
}
.window.minimize {
	display: none;
}
